/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './color-changer'; // task 1
@import './promise'; // task 2
//@import './timer-countdown'; // task 3
